/* TODO Add site wide styles */

html,
#root {
  /* height: 100% !important; */
  /* for some reason removing this makes it actually expand all */
  width: 100%;
  overflow-y: scroll;
  /* background-color: rgb(18, 18, 18); */
}
* {
  font-family: Circular;
}
body {
  overscroll-behavior: none;
  /* prevent overscrolling on top spotify navbar */
}

html,
body {
  max-width: 100% !important;
  /* overflow-x: hidden !important; */
}

input:focus {
  outline: none !important;
}
